body {
    font-family: Raleway, sans-serif;
    width: 1440px;
    box-sizing: border-box;
    margin: auto;
    background-color: black;
}

.header {
    padding: 92px 49px 92px 51px;
    display: flex;
    align-items: center;
    background-color: #FFF;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    flex-shrink: 0;
    margin: 0px 355px 0px 209px;
}

.header__address {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 757px;
}

.cover__title {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 166px 50px 147px 50px;
}

.aligned-text {
}

.aligned-text span {
    letter-spacing: 60px;
}

.aligned-text_center {
    text-align: center;
    line-height: 100%;
}

.aligned-text_center span {
    letter-spacing: 60px;
}

.aligned-text_right {
    text-align: right;
    line-height: 100%;
    letter-spacing: 60px;
}

.aligned-text_right span {
    letter-spacing: 30px;
}

.cover__description {
    display: flex;
    
}

.overlay {
    
}

.lots {
    margin: 180px 50px 181px 50px;
}

.about {
    margin: 0px 50px 180px 50px;
}

.footer {
    margin: 0px 50px 90px 50px;
}